*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* background-color: gray; */
    /* color: wheat; */
    height:100 vh;
    background-color: #111;
    color: white;
}
a {
    text-decoration: none;
    color: wheat;
}
.container {
    width: 80%;
    min-height: 100vh;
    /* padding
    -left: 15px ;
    padding-right: 15px ; */
    /* background-color: red; */
    margin:  0 auto;
   
}